body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 60%;
    margin: auto;
    background: aqua;
    padding: 20px;
    border-radius: 8px;
}

.question {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-left: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
}

#hasil {
    margin-top: 20px;
    font-weight: bold;
}